* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

h1 {
    font-family: 'Changa', sans-serif;
    font-size: 8vh;
    height: 8vh;
    line-height: 8vh;
    text-align: center;
}

html {
    scroll-behavior: smooth;
}

body {
    background: #000;
    min-height: 400vh;  /* mininimum height is 2x the screen size. */
}

.typed-text {
    font-weight: normal;
    color: #E6B453;
}

.cursor {
    display: inline-block; /* allows setting individual width/height */
    width: 3px;
    background-color: #ccc;
    margin-left: 0.1rem;
    animation: blink 1s infinite;
}
@keyframes blink { 
    0% { background-color: #ccc; } 
    49% { background-color: #ccc; }
    50% { background-color: transparent; }
    100% { background-color: transparent; }
}

.cursor.typing {
    animation: none;
}

#particles-js {
    position : absolute;
    width:100vw;
    height:91vh;
    max-width: 100%;
    z-index:5;
}

.banner {
    padding: 0.5rem;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 91vh; /* leave space for nav bar */
    max-width: 100%; /* prevents horizontal overflow */
    background-color: #172D3D;
    z-index: 0
}

#opening {
    margin-top: 35vh;
    margin-bottom: 2vh;
    width: 100%;
    color: white;
}

#about {
    text-align: center;
    width: 100%;
    color: white;
}

header {
    position: relative;
    left: 0;
    height: 9vh;
    width: 100vw;
    max-width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px 100px;
    transition: 0.6s;
    background-color: rgba(227, 255, 249, 0.2);
    border-bottom: 3px solid #B6A48F;
    z-index: 100; /* ensure header always visible */
}

header.sticky {
    position: fixed;
    top: 0;
    background: #fff;
}

.navlist {
    position: relative;
    display: flex;
    width: 50vw; 
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.navlist li {
    position: relative;
    list-style: none;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.navlist li a { 
    position: relative;
    margin: 0 15px;
    text-decoration: none; /* removes hyperlink underline */
    color: #fff;
    letter-spacing: 2px;
    font-size: 1.3em;
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.navlist li a:hover {
    font-size: 1.8em;
}

header.sticky ul li a {
    color: #000;
}


