.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.edu-container {
    display: grid;
}

.navbar {
    margin-top: 10px;
    display: block;
    height: 50px;
    line-height: 50px;
    background-color: #333;
}

.navbar > ul {  /* remove bullets, padding and margin */
    width: 20vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.navbar li {
    display: inline;
}

